beautifulsoup4==4.8.2
bs4==0.0.1
certifi==2020.6.20
numpy==1.19.4
pandas==1.2.0
python-dateutil==2.8.1
pytz==2020.5
requests==2.25.1
scikit-lear==0.24.1
scipy==1.6.0
six==1.15.0
sklearn==0.0
soupsieve==2.1
urllib3==1.26.2